#notifications{
	max-width: 650px;
}

.notifications-container li{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid var(--border-color);
}

.notification{

}

.notification-date{
	font-size: 12px;

}